<div class="detail">
  <img src="<%= pokemon.escape('image_url')%>" />
  <br>
  Name: <%= pokemon.escape('name') %>
  <br>
  <p>attack: <%= pokemon.escape('attack') %></p>
  <p>defense: <%= pokemon.escape('defense') %></p>
  <p>moves: <%= pokemon.escape('moves') %></p>
  <p>poke_type: <%= pokemon.escape('poke_type') %></p>
</div>
<p>Toys:</p>
<ul class="toys">

</ul>
