<h1><%= @album.title %></h1>
<h2>By <%= link_to "#{@album.band.name}", band_url(@album.band) %>
<h3>Click on an track to view its lyrics!</h3>

<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to track.title, track_url(track) %></li>
  <% end %>
</ul>
<br>
<%= button_to "Create track", new_track_url %>
<br>
<%= link_to "Edit Album", edit_album_url(@album) %>
<br>
<%= link_to "Delete Album", album_url(@album), method: :delete %>
